body,
html {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

.btn {
  width: 160px;
  height: 30px;
  background-color:#33A9AB;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px
}

.espaco {
  margin: 100px;
}

.navbar-item {
  font-size: 12px;
}

.create{
  padding-top:10px
}
